{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ $posted := $.Date.Format "January 02, 2006" }}
    <i style="margin: 0">
    Art by
    <span>
        {{- if (isset .Params "author") -}}
            {{ .Params.author }}
        {{- else if (isset .site.Params "author") -}}
            {{ .site.Params.author }}
        {{- end -}}
    </span>

        <br>

        Date:
        <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted">
            {{ $posted }}
        </time>
        </i>

    {{ .Content }}
    {{ if site.Params.noData }}
        {{ with .Resources.Get "image.png" }}
            <img class="gallery-img" style="display: block; max-height: 1000px; margin-left: auto; margin-right: auto; width: auto; margin-top: 10px; margin-bottom: 10px; max-width: 100%; height: auto" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Params.alt_text }}">
        {{ end }}
    {{ end }}
{{ end }}
