{{/* Page layout used for blog list view and others. */}}

{{ define "main" }}
    <h2 {{ if site.Params.hcard }}class="p-name"{{ end }}>{{ .Title }}</h2>
    {{- if (isset .Params "book") -}}
        {{ $published := $.Date.Format "January 02, 2006" }}
        {{ $modified := $.Page.Lastmod.Format "January 02, 2006" }}
        <i style="margin: 0">
        {{- if (isset .Params "author") -}}
        Written by
        <span>
            {{ .Params.author }}
        <br>
        {{- end -}}
        {{- if (isset .Params "source") -}}
        Source:
        <span>
            {{ .Params.source | markdownify }}
            <br>
        </span>
        {{- end -}}
        {{ if (isset .Params "license") }}
            <span>License: {{ .Params.license | markdownify }}</span>
            <br>
        {{ end }}
        Published on
        <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted">
                {{ $published }}
        </time>
        {{ if not (eq $published $modified) }}
        <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted {{ if site.Params.hcard }}dt-updated{{ end }}">
            (Updated on {{ $modified }})
            </time>
        {{ end }}
        </i>
        <br>
        {{ if not .Params.hidetaxonomy }}
            {{-  range $siteTaxonomyName, $siteTaxonomyData := .Site.Taxonomies -}}
                {{ with $.Page.GetTerms $siteTaxonomyName }}
                    {{ if or (eq $siteTaxonomyName "categories") (eq $siteTaxonomyName "series") }}
                        {{ continue }}
                    {{ end }}
                    <span {{ if site.Params.hcard }}class="p-category"{{ end }}>{{ $siteTaxonomyName | T }}:</span>
                    {{- range . }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{- end -}}

    <hr>
    
    {{ $sortedPages := .Pages.ByParam "page" }}
    {{ $paginator := .Paginate .Pages }}
    {{ if (isset .Params "book") }}
        {{ $paginator = .Paginate .Pages }}
    {{ end }}

    {{ if eq $paginator.PageNumber 1}}
        {{ .Content }}
    {{ end }}

    {{ if eq .Params.thumbnails true }}
        <div id="art-button-main-container">
        {{ range $paginator.Pages }}
            <figure class="art-fancy-button">
                <div style="display: inline-grid">
                    <p>{{ .Title }}</p>
                    {{ $image := .Resources.Get .Params.thumb.img }}
                    {{ with $image }}
                        <img src="{{ .RelPermalink }}" width=400 height=150 />
                    {{ end }}
                    {{ with .Params.thumb.src }}
                        <a href="{{ . }}" class="override"><p>Source</p></a>
                    {{ end }}
                </div>
            </figure>
        {{ end }}
        </div>
    {{ else }}
        {{ range $paginator.Pages }}
            <li style="margin-left: 10px; list-style-type: square;" {{if site.Params.hcard }}class="h-entry"{{ end }}>
                <h3 style="margin-bottom: 5px"><a href="{{ .RelPermalink }}" {{if site.Params.hcard }}class="p-name u-url"{{ end }}>{{ .Title }}</a></h3>
                {{ if not $.Params.nodetails }}
                    {{ with .Params.source }}
                    <i>Source: {{ . | markdownify }}</i>
                    <br>
                    {{ end }}
                    {{ with .Params.Author }}
                    <i>{{ . }}</i>
                    •
                    {{ end }}
                    <i><time datetime='{{ .Date.Format "2006-01-02" }}' {{ if site.Params.hcard }}class="dt-published"{{ end }}>{{ .Date.Format "Jan 2, 2006"}}</time></i>
                    {{ with .Params.License }}
                    • <i>{{ . | markdownify }}</i>
                    {{ end }}
                {{ end }}
                <p {{ if site.Params.hcard }}class="p-summary"{{ end }}><i>{{ .Summary }}</i></p>
            </li>
        {{ end }}
    {{ end }}

    <ul class="pagination">
    {{ with $paginator.Prev }}
    <li class="page-item">
    <a style="float: left" href="{{ .URL }}">Prev</a>
    </li>
    {{ else }}
    <li class="page-item disabled">
    <span style="float: left">Prev</span>
    </li>
    {{ end }}

    <span style="display: inline-block;">{{ printf "Page %d" $paginator.PageNumber }}</span>

    {{ with $paginator.Next }}
        <li class="page-item">
        <a style="float: right" href="{{ .URL }}">Next</a>
        </li>
        {{ else }}
        <li class="page-item disabled">
        <span style="float: right">Next</span>
        </li>
    {{ end }}
    </ul>

{{ end }}
