<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>
{{- if site.Params.fontSwap -}}
<script>
    if (localStorage.getItem("pref-font") === "serif") {
        document.body.classList.add('serif-toggle')
    }
    else if (localStorage.getItem("pref-font") === "sans") {
        document.body.classList.remove('serif-toggle')
    }
</script>
{{- end -}}

{{ with resources.Get .Site.Params.profilePicture }}
    <a href="{{ .Site.BaseURL }}" rel=me>
	<picture>
		{{ $avif_path := replace . ".png" ".avif "}}
		{{ with resources.Get (strings.TrimSpace $avif_path) }}
			<source srcset="{{ .RelPermalink }}" type="image/avif">
		{{ end }}
		<img class="profile-picture" alt="Profile Picture" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
	</picture>
    </a>
{{ end }}
<h1>{{ .Site.Title }}</h1>
<div class="title-toggles">
    <button id="theme-toggle" accesskey="t" title="(Alt + T)">
        {{ with resources.Get "icons/moon.svg" }}
            <img id="moon" alt="" class="symbolic-icon" style="image-rendering: pixelated;" width="16" height="16" src="{{ .RelPermalink }}">
        {{ end }}
        {{ with resources.Get "icons/sun.svg" }}
            <img id="sun" alt="" class="symbolic-icon" style="image-rendering: pixelated;" width="16" height="16" src="{{ .RelPermalink }}">
        {{ end }}
    </button>
    {{- if site.Params.fontSwap -}}
    <button id="font-toggle">
        {{ with resources.Get "icons/serif.svg" }}
            <img id="serif" alt="" class="symbolic-icon" style="image-rendering: pixelated;" width="16" height="16" src="{{ .RelPermalink }}">
        {{ end }}
        {{ with resources.Get "icons/sans.svg" }}
            <img id="sans" alt="" class="symbolic-icon" style="image-rendering: pixelated;" width="16" height="16" src="{{ .RelPermalink }}">
        {{ end }}
    </button>
    {{- end -}}
</div>
